{% extends 'layout.html' %}

{% block title %} All Maintenance {% endblock %}

{% block body %}
                <section>
                    <div class="section-body">
                        <!-- BEGIN DATATABLE 2 -->
                        <div class="row">
                            <div class="col-lg-12">
                                <div class="card">
                                    <div class="card-head style-primary">
                                        <header>All Maintenance Data</header>
                                        <div class="tools">
                                            <a class="btn btn-icon-toggle btn-collapse"><i class="fa fa-angle-down"></i></a>
                                            <a class="btn btn-icon-toggle btn-close"><i class="md md-close"></i></a>
                                        </div>
                                    </div>
                                    <div class="card-body">
                                        <div class="row">
                                            <a href="{% url 'new' %}" class="btn ink-reaction btn-floating-action btn-primary active"><i class="md md-add"></i> </a>
                                            <a onclick="openWin()" class="btn ink-reaction btn-floating-action btn-primary active"><i class="md md-file-upload"></i> </a>
                                            <a onclick="location.reload();" class="btn ink-reaction btn-floating-action btn-primary active"><i class="md md-refresh"></i> </a>
                                        </div>
                                        <br>
                                        <script>
                                            var myWindow;

                                            function openWin() {
                                              myWindow = window.open("{% url 'upload'%}", "", "width=400, height=180");
                                            }
                                        </script>

                                        <div class="table-responsive">
                                            <table id="datatable2" class="table order-column hover">
                                                <thead>
                                                    <tr>
                                                        <th>ID</th>
                                                        <th>Maintenance Date</th>
                                                        <th>Department</th>
                                                        <th>Maintenance Hours</th>
                                                        <th>Comment</th>
                                                        <th width="150px">Buttons</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for order in maintenance %}
                                                        <tr class="gradeX">
                                                            <td>{{ order.id }}</td>
                                                            <td>{{ order.date }}</td>
                                                            <!--<td>{{ order.billAddress_id.bill_address }}</td>-->
                                                         
                                                            <!--<td>{{ order.shipAddress_id.ship_address }}</td>-->
                                                            
                                                            <td>{{ order.department }}</td>
                                                            <td>{{ order.hours }}</td>
                                                            
                                                            <td> {{order.comment}}</td>
                                                            <td>

                                                                {% if response.admin_user or response.position == 'manager' %}
                                                                <a href="{% url 'editmaintenance' order.id %}" class="btn ink-reaction btn-floating-action btn-warning"><i class="md md-edit"></i> </a>
                                                                {% endif %}
                                                                {% if response.admin_user %}
                                                                <a href="{% url 'deletemaintenance' order.id %}" class="btn ink-reaction btn-floating-action btn-danger" onclick="return confirm('Are you sure you want to delete this?')"><i class="md md-delete"></i> </a>
                                                                        {% endif %}
                                                                <a href="{% url 'showmaintenance' order.id %}" class="btn ink-reaction btn-floating-action btn-primary"><i class="md md-print"></i> </a>
                                                            </td>
                                                        </tr>
                                                    {% endfor %}
                                                </tbody>
                                            </table>
                                        </div><!--end .table-responsive -->
                                    </div>   
                                </div>       
                            </div><!--end .col -->
                        </div><!--end .row -->
                        <!-- END DATATABLE 2 -->

                    </div><!--end .section-body -->
                </section>
{% endblock %}